body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Lato', sans-serif;
}

.standard-card {
    background-color:white;
    max-height: 400px;
    width: 400px;
    border-radius: 3px;
    border: solid black 1px;
    margin-bottom: 10px;
}