.profile-row {
    display: flex;
    align-items: center;
}


.miniImage {
width: 60px;
   height: 60px;
   border-radius: 50%;
   object-fit: cover;
   object-position: right;
   padding-right: 4px;
   padding-bottom: 4px;
   }