.card {
    height: 450px;
    overflow: hidden;
}

button {
    width: 50%;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid grey;
}



button:hover {
    background-color: rgb(167, 238, 167);
}